.container {
    display: grid;
    grid-template: auto 1fr auto / auto 1fr auto;
    height: 100vh;
  }
  


header {
    padding: 2rem;
    grid-column: 1/4;
    background-color: blue;
}

.one {
    grid-column: 1 / 2;
    background-color:green;
  }
  
  .two {
    grid-column: 2 / 3;
    background-color: blueviolet;
  }
  
  .three {
    grid-column: 3 / 4;
    background-color: beige;
  }
  
  .footer {
    grid-column: 1 / 4;
    background-color: burlywood;
    

  }

/*  how to get footer to the bottom of the page